<% persons.forEach(( person )=> { %>
    <div>
        <p>
            <%= person.vorname %>
                <%= person.email %>
                    writes:
        </p>
        <p>
            <%= person.message %>
        </p>
    </div>
    <%})%>